<mat-card class="matCard">
  <mat-card-title> Employee API </mat-card-title>
    <mat-tab-group>
      <mat-tab label="GET">
        <div class="example-button-row">
          <a mat-flat-button routerLink = "/api" routerLinkActive="active">Display Employee Details</a>
        </div>
    </mat-tab>
    <mat-tab label="DELETE"> 
        <div class="example-button-row">
          <a mat-flat-button href="/api-delete">Delete Employee Details</a>
        </div>
     </mat-tab>
    </mat-tab-group>
</mat-card>
